.histo {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 2%;
}

#main {
    width: 75%;
    margin: 0 auto;
}

.updatahistory {
    margin-left: 10px;
    margin-bottom: 5px;
    color: black;
}