.QandA {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 2%;
}

hr {
    margin-bottom: 4%;
}

#main {
    width: 75%;
    margin: 0 auto;
}

.QA h3 {
    color: darkred;
}

.QA span {
    margin-left: 20px;
    color: black;
}

.fUrl {
    margin-bottom: 20px;
}

.fUrl img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.fUrl a {
    font-size: 18px;
    margin-left: 5px;
    color: darkred;
}

.fUrl span {
    display: block;
    margin-left: 30px;
}